<div class="flex p-4" id="circuits-empty-state">
  <p class="">There are currently no circuits associated with this component. Would you like to
    <%= link_to "add some?", new_component_circuit_path(component), data: {turbo_frame: :right_form_modal}, class: "underline decoration-blue-400 hover:bg-gray-100 rounded py-1" %>
  </p>
</div>