<% form_connectors.each do |form_connector| %>
  <!-- Example of displaying connector options, adjust as needed -->
  <option value="<%= form_connector.id %>"><%= form_connector.connector.name %></option>
<% end %>
