<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New circuit</h1>

  <%= render "form", circuit: @circuit %>

  <%= link_to "Back to circuits", circuits_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
