<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New connector terminal</h1>

  <%= render "form", connector_terminal: @connector_terminal %>

  <%= link_to "Back to connector terminals", connector_terminals_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
