<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing boat wiring harness</h1>

  <%= render "form", boat_wiring_harness: @boat_wiring_harness %>

  <%= link_to "Show this boat wiring harness", @boat_wiring_harness, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to boat wiring harnesses", boat_wiring_harnesses_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
