<div class="flex">
  <% @wiring_harnesses.each do |wiring_harness| %>
    <%= link_to wiring_harness_path(wiring_harness), class: "rounded-lg border px-2 bg-blue-300" do %>
      <%= wiring_harness.name.titleize %>
    <% end %>
  <% end %>
</div>