<div class="">
  <h3 class="text-lg">Wiring Harnesses:</h3>
  <div class="flex" id="wiring-harnesses-list">
    <% if @wiring_harnesses.present? %>
      <% @wiring_harnesses.each do |wiring_harness| %>
        <%= link_to wiring_harness_path(wiring_harness), class: "rounded-lg text-white px-2 bg-blue-400 mr-2 shadow-md" do %>
          <%= wiring_harness.name.titleize %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>