<div id= "boat-actions" class="relative inline-block text-left ">
  <button type="button" class="justify-center w-full px-2 py-2 rounded-md bg-inherit " data-action="dropdown#toggle:prevent click@window->dropdown#outsideClick"data-dropdown-target="button">
    <%= button.html_safe %>
  </button>
  <div class="absolute right-0 z-10 hidden w-56 mt-2 origin-top-right bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" data-dropdown-target="menu">
    <%= yield %>
  </div>
</div>